%tr
  -if user.respond_to? :login
    %td= user.login
  %td= user.to_s
  %td= link_to user.email, user, 'data-href-container' => 'tr'
  %td= user.roles.join(', ')
  %td= user.last_sign_in_at if Devise.mappings[:user].trackable?
  %td= user.locked_at if Devise.mappings[:user].lockable?

  %td.action-links
    =link_to t_action(:edit), edit_resource_url(user)
    =link_to t_action(:lock), lock_user_path(user), :method => :post if Devise.mappings[:user].lockable? && !user.locked_at?
    =link_to t_action(:unlock), unlock_user_path(user), :method => :post if Devise.mappings[:user].lockable? && user.locked_at?
    =link_to t_action(:delete), resource_url(user), :confirm => t_confirm_delete(user), :method => :delete
